<div class="panel panel-default all-cart">
    <div class="panel-heading">
        <div class="form-inline text-left">
            <div class="form-group form-inline">
                <h4 class="control-label">全部商品 2</h4>
            </div>
            <div class="input-group pull-right">
                <input type="text" class="form-control input-sm">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm">Search !</button>
            </span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table shopping-cart-table">
            <tr>
                <td class="mfb-xt3">
                    <label class="checkbox-inline c-checkbox">
                        <input type="checkbox">
                        <span class="fa fa-check"></span>全选
                    </label>
                </td>
                <td class="mfb-x" colspan="2">商品信息</td>
                <td class="mfb-xxt text-right">单价</td>
                <td class="mfb-xxt text-right">数量</td>
                <td class="mfb-xxt text-right">金额</td>
                <td class="mfb-xxt">操作</td>
            </tr>
            <tr>
                <td class="mfb-xt3">
                    <label class="checkbox-inline c-checkbox">
                        <input type="checkbox">
                        <span class="fa fa-check"></span>
                    </label>
                    <img src="https://img.alicdn.com/bao/uploaded/i7/TB1XVD5MVXXXXctXpXXKKRU_pXX_054843.jpg_b.jpg">
                </td>
                <td class="mfb-xt">
                    Xiaomi/小米 红米Note4 高配版 全金属机身 十核旗舰处理器
                </td>
                <td class="mfb-xxt">
                    <span>颜色分类：银白</span>
                </td>
                <td class="mfb-xxt text-right"><b>¥</b>1199.00</td>
                <td class="mfb-xxt text-right">1</td>
                <td class="mfb-xxt text-right"><b>¥</b>1199.00</td>
                <td class="mfb-xxt">
                    <ul class="list-unstyled">
                        <li><a href="">移入收藏夹</a></li>
                        <li><a href="">删除</a></li>
                        <li><a href="">相似宝贝</a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="mfb-xt3">
                    <label class="checkbox-inline c-checkbox">
                        <input type="checkbox">
                        <span class="fa fa-check"></span>
                    </label>
                    <img src="https://img.alicdn.com/bao/uploaded/i7/TB1XVD5MVXXXXctXpXXKKRU_pXX_054843.jpg_b.jpg">
                </td>
                <td class="mfb-xt">
                    Xiaomi/小米 红米Note4 高配版 全金属机身 十核旗舰处理器
                </td>
                <td class="mfb-xxt">
                    <span>颜色分类：银白</span>
                </td>
                <td class="mfb-xxt text-right"><b>¥</b>1199.00</td>
                <td class="mfb-xxt text-right">1</td>
                <td class="mfb-xxt text-right"><b>¥</b>1199.00</td>
                <td class="mfb-xxt">
                    <ul class="list-unstyled">
                        <li><a href="">移入收藏夹</a></li>
                        <li><a href="">删除</a></li>
                        <li><a href="">相似宝贝</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-footer">
        <div class="form-inline text-left">
            <label class="checkbox-inline c-checkbox">
                <input type="checkbox">
                <span class="fa fa-check"></span>
                <span class="m-t-sm">全选</span>
            </label>
            <label class="control-label pull-right count">
                <span>已选商品<em>17</em>件</span>
                <span>合计（不含运费）：</span>
                <em><b>￥</b>2398.00</em>
                <button type="button" class="btn btn-danger">结算</button>
            </label>
        </div>
    </div>
</div>
<div class="form-group">
</div>
<div class="form-group">
    <div class="row box-light-bg">
        <div class="col-sm-12">
        </div>
    </div>
</div>