<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="form-group">
                <div class="col-sm-4">
                    <div class="col-sm-4">
                        <span class="control-label">品牌名称</span>
                    </div>
                    <div class="col-sm-7">
                        <span>Xiaomi/小米</span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-4">
                    <div class="col-sm-4">
                        <label class="control-label">产品参数</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-4">
                    <div class="col-sm-4">
                        <span class="control-label">证书编号</span>
                    </div>
                    <div class="col-sm-7">
                        <span>2015011606832528</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-4">
                        <span class="control-label">证书编号</span>
                    </div>
                    <div class="col-sm-7">
                        <span>2015011606832528</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-4">
                        <span class="control-label">证书状态</span>
                    </div>
                    <div class="col-sm-7">
                        <span>有效</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-4">
                        <span class="control-label">证书编号</span>
                    </div>
                    <div class="col-sm-7">
                        <span>2015011606832528</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-4">
                        <span class="control-label">证书编号</span>
                    </div>
                    <div class="col-sm-7">
                        <span>2015011606832528</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-4">
                        <span class="control-label">证书状态</span>
                    </div>
                    <div class="col-sm-7">
                        <span>有效</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-4">
                        <span class="control-label">证书编号</span>
                    </div>
                    <div class="col-sm-7">
                        <span>2015011606832528</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-4">
                        <span class="control-label">证书编号</span>
                    </div>
                    <div class="col-sm-7">
                        <span>2015011606832528</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-4">
                        <span class="control-label">证书状态</span>
                    </div>
                    <div class="col-sm-7">
                        <span>有效</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <p style="text-align: center;">
            <img align="absmiddle" src="https://img.alicdn.com/imgextra/i2/1714128138/TB2hxq1XFHzQeBjSZFOXXcM9FXa-1714128138.jpg" class="img-ks-lazyload">
            <img align="absmiddle" src="https://img.alicdn.com/imgextra/i2/1714128138/TB2SHK3XRLzQeBjSZFjXXcscpXa-1714128138.jpg" class="img-ks-lazyload">
            <img align="absmiddle" src="https://img.alicdn.com/imgextra/i4/1714128138/TB2sq93XNvzQeBjSZFEXXbYEpXa-1714128138.jpg" class="img-ks-lazyload">
            <img align="absmiddle" src="https://img.alicdn.com/imgextra/i3/1714128138/TB20s53XF_AQeBjSZPhXXXt5pXa-1714128138.jpg" class="img-ks-lazyload">
            <img align="absmiddle" src="https://img.alicdn.com/imgextra/i3/1714128138/TB2gJUYaznyQeBjSspbXXazUXXa-1714128138.jpg" class="img-ks-lazyload">
            <img align="absmiddle" src="https://img.alicdn.com/imgextra/i3/1714128138/TB2F4q1XFHzQeBjSZFOXXcM9FXa-1714128138.jpg" class="img-ks-lazyload">
            <img align="absmiddle" src="https://img.alicdn.com/imgextra/i1/1714128138/TB25dITaB6xQeBjSsziXXXxVVXa-1714128138.jpg" class="img-ks-lazyload">
            <img align="absmiddle" src="https://img.alicdn.com/imgextra/i4/1714128138/TB2Meg1aBLxQeBjy0FnXXcQwpXa-1714128138.jpg" class="img-ks-lazyload">
            <img align="absmiddle" src="https://img.alicdn.com/imgextra/i2/1714128138/TB2WdQZauTyQeBjSspmXXazkXXa-1714128138.jpg" class="img-ks-lazyload">
            <img align="absmiddle" src="https://img.alicdn.com/imgextra/i3/1714128138/TB2NxZTaqzyQeBjy0FbXXbZapXa-1714128138.jpg" class="img-ks-lazyload">
            <img align="absmiddle" src="https://img.alicdn.com/imgextra/i3/1714128138/TB2soUQaqnyQeBjy1zkXXXmyXXa-1714128138.jpg" class="img-ks-lazyload">
            <img align="absmiddle" src="https://img.alicdn.com/imgextra/i1/1714128138/TB2t5Q1aBPxQeBjy1XcXXXHzVXa-1714128138.jpg" class="img-ks-lazyload">
            <img align="absmiddle" src="https://img.alicdn.com/imgextra/i4/1714128138/TB27FcQauLyQeBjy0FaXXXiDVXa-1714128138.jpg" class="img-ks-lazyload">
            <img align="absmiddle" src="https://img.alicdn.com/imgextra/i2/1714128138/TB2jla1XNvzQeBjSZFKXXXgXFXa-1714128138.jpg" class="img-ks-lazyload">
            <img align="absmiddle" src="https://img.alicdn.com/imgextra/i2/1714128138/TB2.PS0XKrAQeBjSZPcXXbJ6pXa-1714128138.jpg" class="img-ks-lazyload">
            <img align="absmiddle" src="https://img.alicdn.com/imgextra/i4/1714128138/TB2CJQ4axvxQeBjy0FdXXaybXXa-1714128138.jpg" class="img-ks-lazyload">
        </p>
    </div>
</div>