<div class="panel panel-default">
    <div class="panel-heading text-left">规格参数</div>
    <div class="panel-body para-panels">
        <div class="col-sm-6">
            <div class="text-left para-panel-heading">基本参数</div>
            <div class="row">
                <div class="col-sm-4 text-right border-right">
                    <label class="control-label">品牌</label>
                </div>
                <div class="col-sm-8 text-left">
                    <span> Xiaomi/小米</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-right border-right">
                    <label class="control-label">型号</label>
                </div>
                <div class="col-sm-8 text-left">
                    <span> 红米Note4 高配版</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-right border-right">
                    <label class="control-label">机身颜色</label>
                </div>
                <div class="col-sm-8 text-left">
                    <span>银白 金色 深灰</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="text-left para-panel-heading">基本参数</div>
            <div class="row">
                <div class="col-sm-4 text-right border-right">
                    <label class="control-label">品牌</label>
                </div>
                <div class="col-sm-8 text-left">
                    <span> Xiaomi/小米</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-right border-right">
                    <label class="control-label">型号</label>
                </div>
                <div class="col-sm-8 text-left">
                    <span> 红米Note4 高配版</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-right border-right">
                    <label class="control-label">机身颜色</label>
                </div>
                <div class="col-sm-8 text-left">
                    <span>银白 金色 深灰</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="text-left para-panel-heading">基本参数</div>
            <div class="row border-right">
                <div class="col-sm-4 text-right">
                    <label class="control-label">品牌</label>
                </div>
                <div class="col-sm-8 text-left">
                    <span> Xiaomi/小米</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-right border-right">
                    <label class="control-label">型号</label>
                </div>
                <div class="col-sm-8 text-left">
                    <span> 红米Note4 高配版</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-right border-right">
                    <label class="control-label">机身颜色</label>
                </div>
                <div class="col-sm-8 text-left">
                    <span>银白 金色 深灰</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="text-left para-panel-heading">基本参数</div>
            <div class="row">
                <div class="col-sm-4 text-right border-right">
                    <label class="control-label">品牌</label>
                </div>
                <div class="col-sm-8 text-left">
                    <span> Xiaomi/小米</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-right border-right">
                    <label class="control-label">型号</label>
                </div>
                <div class="col-sm-8 text-left">
                    <span> 红米Note4 高配版</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-right border-right">
                    <label class="control-label">机身颜色</label>
                </div>
                <div class="col-sm-8 text-left">
                    <span>银白 金色 深灰</span>
                </div>
            </div>
        </div>
    </div>
</div>