<div class="form-group">
    <div class="form-inline bg-liking-category text-left">
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm">综合&nbsp;<i class="glyphicon glyphicon-arrow-down"></i></button>
            <button type="button" class="btn btn-default btn-sm">人气&nbsp;<i class="glyphicon glyphicon-arrow-down"></i></button>
            <button type="button" class="btn btn-default btn-sm">价格&nbsp;<i class="glyphicon glyphicon-arrow-down"></i></button>
        </div>
        <div class="form-group">
            <span for="address">收货地：</span>
            <select class="form-control input-sm">
                <option value="a">a</option>
                <option value="b">b</option>
                <option value="c">c</option>
            </select>
        </div>
        <div class="form-group form-inline pull-right page-nav">
            <span>1 / 30</span>
            <i class="glyphicon glyphicon-chevron-left"></i>&nbsp;
            <i class="glyphicon glyphicon-chevron-right"></i>
        </div>
        <div class="input-group pull-right">
            <input type="text" class="form-control input-sm">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm">Search !</button>
            </span>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row box-light-bg">
        <div class="col-md-5-self" *ngFor="let cat of categories">
            <div class="category-box">
                <div class="productImg-wrap">
                    <img src="https://img.alicdn.com/bao/uploaded/i7/TB1XVD5MVXXXXctXpXXKKRU_pXX_054843.jpg_b.jpg">
                </div>
                <div class="productPrice">
                    <em title="1199.00"><b>¥</b>1199.00</em>
                </div>
                <div class="productTitle">
                    <a target="_blank">Xiaomi/小米 红米Note4 高配版 全金属机身 十核旗舰处理器</a>
                </div>
                <div class="productFooter">
                    <a class="btn-liking" href="#" [routerLink]="['Detail',1]"><i class="glyphicon glyphicon-shopping-cart"></i> Purchase Now</a>
                </div>
            </div>
        </div>
    </div>
</div>