body {
    font-family: 'Hiragino Sans GB', 'Lantinghei SC', 'Microsoft Yahei', SimSun;
}

label, span {
    color: #999;
    font-size: xx-small;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.content {
    padding-top: 20%;
}

/*导航条样式*/
.site-nav {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 14px;
    box-shadow: 0 0 14px #93bbd7;
    padding: 2px 2px 2px 14px;
    margin-bottom: 8px;
}

.site-nav a {
    padding-right: 10px;
    color: #999;
}

.shop-cart i {
    color: #337ab7;

    padding-right: 10px;
}

/*分类页样式*/
.page-nav {
    padding: 5px 10px;
}

.category-box {
    position: relative;
    border-radius: 3px;
    padding: 0 10px 10px 10px;
}

.box-light-bg .category-box {
    overflow: hidden;
    background: #fff;
    border: 1px solid #ddd;
}

.category-box h3 {
    margin: 0;
    line-height: normal;
    font-weight: bold;
}

.productImg-wrap {
    display: table;
    table-layout: fixed;
    height: 210px;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    border-bottom: rgba(240, 240, 240, 0.97) 1px solid;
}

.productImg img {
    display: block;
    margin: 0 auto;
}

.category-box:hover {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 25px darkgray;
}

.productPrice {
    font-family: arial, verdana, sans-serif !important;
    color: #C00;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 0 0 5px;
    letter-spacing: normal;
    overflow: inherit !important;
    white-space: nowrap;
}

.productPrice em {
    float: left;
    font-family: arial;
    font-weight: 400;
    font-size: 20px;
    color: #bc00000;
}

.productPrice em b {
    margin-right: 2px;
    font-weight: 700;
    font-size: 14px;
    vertical-align: middle;
}

.productTitle {
    display: block;
    margin-bottom: 3px;
    word-break: break-all;
    position: relative;
    /*max-height: 40px;*/
    text-align: left;
}

.productTitle a {
    color: #888;
    cursor: pointer;
}

.productFooter {
    color: #777;
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    border-radius: 0 0 3px 3px;
    padding-top: 20px;
}

.productFooter p {
    padding-top: 10px;
    font-size: 11px;
}

.productDetailImg {
    padding: 10px 0 10px 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 0 20px silver;
}

.productParam {
    height: 30px;
    line-height: 30px;
}

.imgZoom {
    text-align: center;
    border: 1px solid #ddd;
    background: #fff;
}

/*购物车页面样式*/
.shopping-cart-table {
    font-family: "Microsoft Yahei", sans-serif;
    font-size: small;
}

.shopping-cart-table {

}

.shopping-cart-table img {
    width: 80px;
    height: 80px;
}

.all-cart h4 {
    border-bottom: 2px solid #4db0f3;
}

.count {
    margin: -5px -5px 0 0;
}

.count span {
    padding-right: 5px;
}

.count em {
    color: red;
    padding:0 5px;
}

.count button {
    margin-left: 5px;
}

/*按钮样式*/
.btn-liking {
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #337ab7;
    display: inline-block;
    text-decoration: none;
}

/*自定义背景样式*/
.bg-liking-category {
    background-color: rgba(223, 240, 255, 0.4);
}

.para-panel-heading {
    background: #f5f5f5;
    padding: 6px 15px;
}

/*自定义微调细节*/
/*border*/
.border-right {
    border-right: 1px solid #ddd;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

/*margin*/
.m-t-xs {
    margin-top: 5px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t-md {
    margin-top: 20px;
}

.nav .active a {
    border-bottom: 2px solid #00b0ff;
}

/*padding值*/

.para-panel {
    margin: 0 -15px;
}

/*表格宽度*/
.mfb-xt3 {
    width: 3%
}

.mfb-xxt {
    width: 5%
}

.mfb-xt {
    width: 8%
}

.mfb-x {
    width: 10%
}

.mfb-xx {
    width: 12%
}

.mfb-xxx {
    width: 15%
}

.mfb-xxxt {
    width: 18%
}

.mfb-xxs {
    width: 20%
}

.mfb-xxxs {
    width: 30%
}

.mfb-xxxxs {
    width: 40%
}

.mfb-xxxsm {
    width: 50%
}

/*自定义栅格*/
.col-md-5-self {
    width: 20%;
    float: left;
    padding: 5px;
}